nodered/noderedFlow.txt
[
    {
        "id": "4f1860406fc928a8",
        "type": "tab",
        "label": "MicroSerre",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3901a5b2abe40e90",
        "type": "mqtt in",
        "z": "4f1860406fc928a8",
        "name": "",
        "topic": "stat/microserre/DS18B20",
        "qos": "2",
        "datatype": "auto",
        "broker": "adf8529c6d2d149a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 60,
        "wires": [
            [
                "66bed023d259a9b0"
            ]
        ]
    },
    {
        "id": "66bed023d259a9b0",
        "type": "function",
        "z": "4f1860406fc928a8",
        "name": "",
        "func": "p= Number(msg.payload);\n//if(isNaN(p))\n//    return null;\nmsg.payload 
=p;\nmsg.topic=\"Température\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 60,
        "wires": [
            [
                "34ce3993cd89e95c",
                "83462114653b00ce",
                "8c88e22ad3ae6ebc"
            ]
        ]
    },
    {
        "id": "34ce3993cd89e95c",
        "type": "ui_gauge",
        "z": "4f1860406fc928a8",
        "name": "G.Temp",
        "group": "c25c0770cd306fe7",
        "order": 2,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "Température",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#000cb3",
            "#00e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "25",
        "className": "",
        "x": 680,
        "y": 60,
        "wires": []
    },
    {
        "id": "18c5c9d939da352d",
        "type": "mqtt in",
        "z": "4f1860406fc928a8",
        "name": "PID",
        "topic": "stat/microserre/PID",
        "qos": "2",
        "datatype": "auto",
        "broker": "adf8529c6d2d149a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 200,
        "wires": [
            [
                "d6654f631bad7654"
            ]
        ]
    },
    {
        "id": "d6654f631bad7654",
        "type": "function",
        "z": "4f1860406fc928a8",
        "name": "",
        "func": "p= Number(msg.payload);\n//if(isNaN(p))\n//    return null;\nmsg.payload = 
Math.floor(p);\nmsg.topic=\"PID\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 200,
        "wires": [
            [
                "08de5c16aca479a7",
                "274af9cb6b031fdd",
                "91b0f65fa3e03377"
            ]
        ]
    },
    {
        "id": "08de5c16aca479a7",
        "type": "ui_gauge",
        "z": "4f1860406fc928a8",
        "name": "G.PID",
        "group": "c25c0770cd306fe7",
        "order": 4,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "Chauffage PID",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 670,
        "y": 200,
        "wires": []
    },
    {
        "id": "8c88e22ad3ae6ebc",
        "type": "ui_chart",
        "z": "4f1860406fc928a8",
        "name": "",
        "group": "c25c0770cd306fe7",
        "order": 19,
        "width": 9,
        "height": 5,
        "label": "Température",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 690,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "83462114653b00ce",
        "type": "ui_chart",
        "z": "4f1860406fc928a8",
        "name": "",
        "group": "c25c0770cd306fe7",
        "order": 26,
        "width": 9,
        "height": 5,
        "label": "Température hebdo.",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 720,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "274af9cb6b031fdd",
        "type": "ui_chart",
        "z": "4f1860406fc928a8",
        "name": "PID",
        "group": "c25c0770cd306fe7",
        "order": 20,
        "width": 9,
        "height": 5,
        "label": "PID",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 670,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "91b0f65fa3e03377",
        "type": "ui_chart",
        "z": "4f1860406fc928a8",
        "name": "PID hebdo.",
        "group": "c25c0770cd306fe7",
        "order": 27,
        "width": 9,
        "height": 5,
        "label": "PID hebdo.",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 690,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "7434f5553890e11c",
        "type": "mqtt in",
        "z": "4f1860406fc928a8",
        "name": "",
        "topic": "stat/microserre/RESULT",
        "qos": "2",
        "datatype": "auto",
        "broker": "adf8529c6d2d149a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 400,
        "wires": [
            [
                "c278ebdf16bfb50a",
                "9dcd5d73ac5b277f"
            ]
        ]
    },
    {
        "id": "c278ebdf16bfb50a",
        "type": "function",
        "z": "4f1860406fc928a8",
        "name": "",
        "func": "if( msg.payload == \"{\\\"POWER1\\\":\\\"OFF\\\"}\")\n  {\n      msg.payload = false;\n      return 
msg;\n  }\n  \nif( msg.payload == \"{\\\"POWER1\\\":\\\"ON\\\"}\")  \n  {\n      msg.payload = true;\n      return msg;\n  
}\n\nreturn null",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 400,
        "wires": [
            [
                "40857bc8520c6ddc"
            ]
        ]
    },
    {
        "id": "40857bc8520c6ddc",
        "type": "ui_led",
        "z": "4f1860406fc928a8",
        "order": 7,
        "group": "c25c0770cd306fe7",
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "#000000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#ffff00",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "lumière",
        "x": 680,
        "y": 400,
        "wires": []
    },
    {
        "id": "9dcd5d73ac5b277f",
        "type": "function",
        "z": "4f1860406fc928a8",
        "name": "",
        "func": "if( msg.payload == \"{\\\"POWER5\\\":\\\"OFF\\\"}\")\n  {\n      msg.payload = false;\n      return 
msg;\n  }\n  \nif( msg.payload == \"{\\\"POWER5\\\":\\\"ON\\\"}\")  \n  {\n      msg.payload = true;\n      return msg;\n  
}\n\nreturn null",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 440,
        "wires": [
            [
                "156bc97af12e4019"
            ]
        ]
    },
    {
        "id": "156bc97af12e4019",
        "type": "ui_led",
        "z": "4f1860406fc928a8",
        "order": 12,
        "group": "c25c0770cd306fe7",
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "#000000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "PID",
        "x": 670,
        "y": 440,
        "wires": []
    },
    {
        "id": "13428c30c908d83e",
        "type": "ui_button",
        "z": "4f1860406fc928a8",
        "name": "",
        "group": "c25c0770cd306fe7",
        "order": 6,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Lumière",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "2",
        "payloadType": "str",
        "topic": "cmnd/microserre/power1",
        "topicType": "msg",
        "x": 160,
        "y": 340,
        "wires": [
            [
                "ff49cdcc0a06f1f4"
            ]
        ]
    },
    {
        "id": "ff49cdcc0a06f1f4",
        "type": "mqtt out",
        "z": "4f1860406fc928a8",
        "name": "",
        "topic": "cmnd/microserre/power1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "adf8529c6d2d149a",
        "x": 730,
        "y": 340,
        "wires": []
    },
    {
        "id": "24419d065f75a70d",
        "type": "ui_text",
        "z": "4f1860406fc928a8",
        "group": "c25c0770cd306fe7",
        "order": 11,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "PID",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 670,
        "y": 480,
        "wires": []
    },
    {
        "id": "9ab8fc087f1b579f",
        "type": "ui_spacer",
        "z": "4f1860406fc928a8",
        "name": "spacer",
        "group": "c25c0770cd306fe7",
        "order": 1,
        "width": 2,
        "height": 1
    },
    {
        "id": "7b9b6d1b9f579f1d",
        "type": "ui_spacer",
        "z": "4f1860406fc928a8",
        "name": "spacer",
        "group": "c25c0770cd306fe7",
        "order": 3,
        "width": 4,
        "height": 1
    },
    {
        "id": "4ac69c5ab8edd443",
        "type": "ui_spacer",
        "z": "4f1860406fc928a8",
        "name": "spacer",
        "group": "c25c0770cd306fe7",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "6db95145a9a8b6db",
        "type": "ui_spacer",
        "z": "4f1860406fc928a8",
        "name": "spacer",
        "group": "c25c0770cd306fe7",
        "order": 8,
        "width": 2,
        "height": 1
    },
    {
        "id": "32dea73e98697e18",
        "type": "ui_spacer",
        "z": "4f1860406fc928a8",
        "name": "spacer",
        "group": "c25c0770cd306fe7",
        "order": 9,
        "width": 4,
        "height": 1
    },
    {
        "id": "1c82598578eb7f5d",
        "type": "ui_spacer",
        "z": "4f1860406fc928a8",
        "name": "spacer",
        "group": "c25c0770cd306fe7",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "5efe289939d35f11",
        "type": "ui_spacer",
        "z": "4f1860406fc928a8",
        "name": "spacer",
        "group": "c25c0770cd306fe7",
        "order": 13,
        "width": 2,
        "height": 1
    },
    {
        "id": "dd87e4ab5aa72930",
        "type": "ui_spacer",
        "z": "4f1860406fc928a8",
        "name": "spacer",
        "group": "c25c0770cd306fe7",
        "order": 14,
        "width": 4,
        "height": 1
    },
    {
        "id": "77c52addf8d515d6",
        "type": "ui_spacer",
        "z": "4f1860406fc928a8",
        "name": "spacer",
        "group": "c25c0770cd306fe7",
        "order": 15,
        "width": 4,
        "height": 1
    },
    {
        "id": "1364dee54ef7716f",
        "type": "ui_spacer",
        "z": "4f1860406fc928a8",
        "name": "spacer",
        "group": "c25c0770cd306fe7",
        "order": 16,
        "width": 2,
        "height": 1
    },
    {
        "id": "2e2fc60a16148f4d",
        "type": "ui_spacer",
        "z": "4f1860406fc928a8",
        "name": "spacer",
        "group": "c25c0770cd306fe7",
        "order": 17,
        "width": 4,
        "height": 1
    },
    {
        "id": "0ea7d61925745670",
        "type": "ui_spacer",
        "z": "4f1860406fc928a8",
        "name": "spacer",
        "group": "c25c0770cd306fe7",
        "order": 18,
        "width": 4,
        "height": 1
    },
    {
        "id": "6280fd1eb1eebc7f",
        "type": "ui_spacer",
        "z": "4f1860406fc928a8",
        "name": "spacer",
        "group": "c25c0770cd306fe7",
        "order": 21,
        "width": 2,
        "height": 1
    },
    {
        "id": "fc2892c6098f2990",
        "type": "ui_spacer",
        "z": "4f1860406fc928a8",
        "name": "spacer",
        "group": "c25c0770cd306fe7",
        "order": 22,
        "width": 2,
        "height": 1
    },
    {
        "id": "8c878e2e8c39cdeb",
        "type": "ui_spacer",
        "z": "4f1860406fc928a8",
        "name": "spacer",
        "group": "c25c0770cd306fe7",
        "order": 23,
        "width": 2,
        "height": 1
    },
    {
        "id": "483b282cb08f7ed9",
        "type": "ui_spacer",
        "z": "4f1860406fc928a8",
        "name": "spacer",
        "group": "c25c0770cd306fe7",
        "order": 24,
        "width": 2,
        "height": 1
    },
    {
        "id": "81221d04b49a22a4",
        "type": "ui_spacer",
        "z": "4f1860406fc928a8",
        "name": "spacer",
        "group": "c25c0770cd306fe7",
        "order": 25,
        "width": 2,
        "height": 1
    },
    {
        "id": "5e2f0384db345908",
        "type": "ui_spacer",
        "z": "4f1860406fc928a8",
        "name": "spacer",
        "group": "c25c0770cd306fe7",
        "order": 28,
        "width": 2,
        "height": 1
    },
    {
        "id": "e979772a5cdb89c9",
        "type": "ui_spacer",
        "z": "4f1860406fc928a8",
        "name": "spacer",
        "group": "c25c0770cd306fe7",
        "order": 29,
        "width": 2,
        "height": 1
    },
    {
        "id": "64fe2340b3e03678",
        "type": "ui_spacer",
        "z": "4f1860406fc928a8",
        "name": "spacer",
        "group": "c25c0770cd306fe7",
        "order": 30,
        "width": 2,
        "height": 1
    },
    {
        "id": "db69e2180f0922a8",
        "type": "ui_spacer",
        "z": "4f1860406fc928a8",
        "name": "spacer",
        "group": "c25c0770cd306fe7",
        "order": 31,
        "width": 2,
        "height": 1
    },
    {
        "id": "c0d2cd69569b16e3",
        "type": "ui_spacer",
        "z": "4f1860406fc928a8",
        "name": "spacer",
        "group": "c25c0770cd306fe7",
        "order": 32,
        "width": 2,
        "height": 1
    },
    {
        "id": "adf8529c6d2d149a",
        "type": "mqtt-broker",
        "name": "",
        "broker": "pihome.local",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "c25c0770cd306fe7",
        "type": "ui_group",
        "name": "température",
        "tab": "b7c93fab76679900",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b7c93fab76679900",
        "type": "ui_tab",
        "name": "microserre",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
